* {
    font-family: 'Abel', sans-serif;

}

:root {

    --bg-main: #e6e6e6;
    --bg-nav: #f0f0f0;
    --blue-link: #00aba9;
    --green-link: #7cb06c;
    --or-link: #eb9d3a;
    --red-link: #e6563b;
}

body, .jumbotron {
    background-color: var(--bg-main);
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
    font-family: 'anton', sans-serif;
}

h1{
    font-size: 64px;
}
h2{
    font-size: 48;
}

h3{
    font-size:40px;
}

h4{
    font-size:32px;
}

h5{
    font-size:28px;
}

/* Nav Bar */

.cd-nav-company-name {
    display: inline-block;
    float: left;
}

.cd-menu-items {
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
}

.cd-top-nav {
    background: #fff;
}

.cd-menu-right {
    width: 50%;
    float: right;
    background-color: red;
}

.cd-menu-left {
    width: 50%;
    float: left;
    background-color: #00aced;
}
.list-group,
.navbar {
    border: none;
}

.navbar {
    width: 100%;
}

.cd-nav-items {
    float: right;

}

.cd-nav-container{
    position: relative;
}

.cd-nav-icon{
    display: inline-block;
    position: absolute;
    top: -30px;
    left: 132px;
}

/* Jumbotron */

.jumbotron {
    height: 500px;
    border-bottom: 1px solid #666666;
    border-radius: none;
}

.cd-links-height {
    padding-top: 100px;

}

.cd-project-title {
    display: inline-block;
}

/* circles*/

.cd-circ {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
    color: #fff;
    border: 0.5em solid white;
    text-align: center;

}

.cd-design-heading {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}




.cd-design {
    background-color: var(--red-link);

}

.cd-develop {
    background-color: var(--or-link);

}

.cd-support {

    background-color: var(--green-link);

}

.cd-host {
    background-color: var(--blue-link);

}

.card-body {
    background-color: var(--bg-main);
}

.badge-pill,
.cd-badges {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    color: #000;
    font-weight: bold;
}

.cd-badge-container {
    display: inline-block;
    float: right;
}
.fa-twitter {
   color: #00aced;
}
/* card images */

.card-img-top {
    border: 4px solid var(--bg-nav);
    border-radius: 2px;
    height: 175px;
}
.media img{
    width: 64px;
    height: 64px;


}

