* {
    font-family: 'Abel', sans-serif;

}

:root {

    --bg-main: #e6e6e6;
    --bg-nav: #f0f0f0;
    --blue-link: #00aba9;
    --green-link: #7cb06c;
    --or-link: #eb9d3a;
    --red-link: #e6563b;
}

body, .jumbotron {
    background-color: var(--bg-main);
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
    font-family: 'anton', sans-serif;
}

h1{
    font-size: 64px;
}
h2{
    font-size: 48;
}

h3{
    font-size:40px;
}

h4{
    font-size:32px;
}

h5{
    font-size:28px;
}


/* Jumbotron */

.jumbotron {
    height: 600px;
    border-bottom: 1px solid #666666;
}

.cd-links-height {
    padding-top: 100px;

}

.cd-project-title {
    display: inline-block;
}

/* circles*/

.cd-circ {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    color: #fff;
    border: 0.5em solid white;
}

.cd-design {
    background-color: var(--red-link);

}

.cd-develop {
    background-color: var(--or-link);

}

.cd-support {

    background-color: var(--green-link);

}

.cd-host {
    background-color: var(--blue-link);

}

.card-body {
    background-color: var(--bg-main);
}

.badge-pill,
.cd-badges {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    color: #000;
    font-weight: bold;
}

.cd-badge-container {
    display: inline-block;
    float: right;
}
.fa-twitter {
   color: #00aced;
}
/* card images */

.card-img-top {
    border: 4px solid var(--bg-nav);
    border-radius: 2px;
}